body
{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a3a3a3;
}
.list
{
    background: rgb(247, 102, 36);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h3
{
    text-align: center;
}
ul
{
    list-style: none;
    padding: 0;
}

li
{
    padding: 10px;
    border-bottom: px solid #ddd;
    cursor: pointer;
}

li:hover
{
    background: rgb(238, 52, 52);
}

.widget
{
    display: none;
    position: fixed;
    top:50%;
    left: 50%;
    background: rgb(236, 189, 32);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px black;
    width: 300px;
    height: 250px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.widget.visible
{
    display: block;
}

.btnaceit, .btnrecu
{
    margin-top: 10px;
    padding: 5px 10px;
    background: yellow;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    height: 95px;
    width: 105px;
}
.closeWid {
    margin-top: 10px;
    padding: 5px 10px;
    background: rgb(231, 9, 9);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
}

